<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SyncTimer Cue Sheet</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
				<string>com.stagedevices.synctimer.cue-xml</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.stagedevices.synctimer.startResume</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start / Resume Timer</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>play.circle</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.stagedevices.synctimer.countdown</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start Countdown</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>timer</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.stagedevices.synctimer.cuesheets</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Open Cue Sheets</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>music.note.list</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.stagedevices.synctimer.join</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Join Room</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>qrcode.viewfinder</string>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_synctimer._tcp.</string>
		<string>_synctimer._udp.</string>
	</array>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsMultipleScenes</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SyncTimer Cue XML</string>
			<key>UTTypeIdentifier</key>
			<string>com.stagedevices.synctimer.cue-xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
